* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: black;
}

.footer-container {
  width: 96vw;
  height: auto;
}

.main__container {
  padding-bottom: 320px;
  margin: 0 auto;
}

.main__container-nation {
  padding-bottom: 0px;
}

.btn-main {
  width: 200px;

}

#explore,
#lore {
  filter: grayscale(100%);
}

/* Medium devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
  html,
  body {
    background: linear-gradient(
      360deg,
      hsla(7, 79%, 46%, 0.9) 0%,
      hsla(26, 60%, 43%, 0.9) 10%,
      hsla(211, 49%, 15%, 1) 30%,
      hsla(216, 83%, 2%, 1) 100%
    );
  }

  .main-container {
    padding-bottom: 140px;

  }

  .footer-container {
    width: 70vw;
    max-height: 220px;
  }
}