* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
  background-color: darkgray;
}

.main-container {
  min-height: 100%; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}
footer {
  position:fixed;
  bottom: 0;
  width: 100%;
}
