@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/* - - - - Semantics - - - - */

*,
*:before,
*:after {
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  color: white;
  background: linear-gradient(
    360deg,
    hsla(7, 79%, 46%, 0.9) 0%,
    hsla(26, 60%, 43%, 0.9) 10%,
    hsla(211, 49%, 15%, 1) 30%,
    hsla(216, 83%, 2%, 1) 100%
  );
}

/* - - - - Components - - - - */

.main__container {
  padding-bottom: 380px;
  margin: 0 auto;
}

.footer-container {
  width: 98vw;
  height: auto;
}

.btn-main {
  width: 200px;
}

#explore,
#create {
  filter: grayscale(100%);
}

.unique-font {
  font-family: 'MedievalSharp', cursive;
  margin-left: 14px;
}

/* - - - - Carousel $ Carousel Cards - - - - */

.card {
  min-height: 500px;
}

.card-header {
  background: #1c1c21;
  opacity: 0.9;
  height: 60px;
}

.card-title {
  font-size: 2rem;
}

.card-button {
  position: absolute;
  bottom: 0;
  left: 40%;
}

.carousel-control-next {
  margin-right: -25px;
}

.carousel-control-prev {
  margin-left: -25px;
}

/* - - - - Devices 992 pixels and larger - - - - */

@media (min-width: 992px) {
  /* - - - - Components - - - - */

  .main-container {
    padding-bottom: 0;
  }

  .main__container-home {
    padding-bottom: 240px;
  }

  .footer-container {
    width: 70vw;
    max-height: 220px;
  }

  /* - - - - Carousel $ Carousel Cards - - - - */

  .card {
    min-height: 400px;
  }
}
