@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/* - - - - Semantics - - - - */

*,
*:before,
*:after {
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  color: white;
  background: linear-gradient(
    360deg,
    hsla(7, 79%, 46%, 0.9) 0%,
    hsla(26, 60%, 43%, 0.9) 10%,
    hsla(211, 49%, 15%, 1) 30%,
    hsla(216, 83%, 2%, 1) 100%
  );
}

/* - - - - Components - - - - */

.main__container {
  min-height: 100vh;
  padding-bottom: 380px;
}

.home__container {
  min-height: 100vh;
  padding-bottom: 0px;
}

.footer-container {
  width: 98vw;
  height: auto;
}

.btn-main {
  width: 200px;
}

.button {
  padding: 10px;
}

#explore {
  filter: grayscale(100%);
}

.unique-font {
  font-family: 'MedievalSharp', cursive;
  margin-left: 14px;
}

/* - - - - Carousel $ Carousel Cards - - - - */

.card {
  min-height: 450px;
}

.card-header {
  height: 40px;
}

.card-title {
  font-size: 1.8rem;
}

.card-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.card-image-default {
  width: 75%;
}

.card-body {
  padding: 5px;
}

.card-button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.carousel-control-next {
  margin-right: -10px;
}

.carousel-control-prev {
  margin-left: -10px;
}

/* - - - - Devices 992 pixels and larger - - - - */

@media (min-width: 992px) {
  /* - - - - Components - - - - */

  .main__container {
    padding-bottom: 220px;
  }

  .home__container {
    padding-bottom: 80px;
  }

  .footer-container {
    width: 85vw;
    max-height: 220px;
    max-width: 1000px;
  }

  /* - - - - Carousel $ Carousel Cards - - - - */

  .carousel-control-next {
    margin-right: 0px;
  }

  .carousel-control-prev {
    margin-left: 0px;
  }
}
